.log-container{
    margin: 0 !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    -ms-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}

.log-form{
    position: absolute;
    width: 500px !important;
    padding: 5% !important;
}

input{
    text-align: right !important;
    
}

