.log-container{
    margin: 0 !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    -ms-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    justify-content:space-around !important;
  
}

.log-form{
    position: absolute;
    width: 800px !important;
    padding: 5%  10%!important;
    
}

input{
    text-align: right !important;
    
}

.log-btn{
width: 150px !important;

}

center{
    margin-top: 30px;
}

.title{
    font-family: inherit !important;
    font-size: 20px !important;
   
}