.container {
    
    padding: 50px;
    background-color: #ffffff;
    color: #333333;
    justify-content: center !important;
   
    font-family: 'Tajawal'!important;
    direction: rtl;
}

.title{
    color: #333333;
    margin-bottom:10px !important;
    font-family: 'Tajawal' !important;
}