@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');
body {
  margin:0 auto;
  font-family: 'Almarai',sans-serif !important;
}


input[type="text"]
{
    font-size:15px !important;
    font-family: inherit !important;
    font-weight: 500;
}
.center-all {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  justify-content:space-around !important;
}