/* the main css file which responsible for making the basic design of system 
including layouts , input fields an containers .*/

/* importing Font Almarai which the font type that has been used in system */
@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');

/* determining the basic layout of page */
body, ul {
  margin: 0;
  padding: 0;
  font-family: 'Almarai',sans-serif !important;
}

#root{
  position: relative;
  align-items: center;
  align-self: center;
  bottom: 0;
  width: 100%;
  height: 100%;

}
/* designing form  input field -- text, email, password */
input[type="text"], input[type="email"],input[type="password"]
{
    font-size:15px !important;
    font-family: inherit !important;
    font-weight: 500;
}

/* container design for store address form */
.main-container{
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* container design used in Login form  and Qrcode component which making items in center */
.center-all {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  justify-content:space-around !important;
}