/* input text fields  */
.text{
    font-size: 16px !important;
    text-align: right;
    line-height: 25px !important;   
}
/* all buttons style */
.button {
    background-color: #F53838 !important;
    color: #fff !important;
    width: 170px;
    padding: 8px 10px !important;
    font-size: 18px;
    font-weight: 500 !important;
    font-family: inherit !important;
    margin-top: 15px !important;
}
.button:hover {
    background-color: #d16161 !important;
    color: #fff !important;
}
/* Success registration container */
.success {
    background-color: rgba(169, 255, 173, 0.2) !important;
    padding: 50px 50px !important;
    color: #595959 !important;
    border-radius: 15px !important;
    border: 1px solid #27D42E !important;
}
.code{
    font-weight: 900 !important;
}
/* Modal Style  */
.terms {
    text-decoration: underline !important;
    cursor: pointer;
    text-align:right !important;
}
.term-list{
    text-align:right;
    font-size: 17px;
    height: 200px;
}
.modal {
    top : '50%';
    left : '50%';
    right: 'auto';
    bottom : 'auto';
    margin-right : '-50%';
}
@media only screen and (max-width: 600px) {
    .term-list{
        overflow-y: scroll;
    }
  }
li {
    padding: 5px 0px;
}
.term-header {
    font-weight: bold;
    font-size: 24px;
    text-align : right;
    margin: 10px 0px 20px 0px;
}
.term-desc {
    font-weight: bold;
    font-size: 19px;
    text-align : right;
}
.checkbox {
    text-align : right;
    direction: rtl;
    align-items: right !important;
}
.btn-terms :hover{
cursor: pointer !important;
padding: 10px 30px !important;
}
/* Form container  */
.reg-container {
     margin: 50px !important;
}
/*  Required fields ---- * -----  */
.required:after {
    content:" *";
    color: red;
}
/* Adress registration Link in Makani */
.address-reg{
    margin-top: 20px !important;
    font-weight:bolder;
    font-size: 15px;  
}

.address-reg a:hover{
    font-size: 15px;
    text-decoration: underline;
    color: #d16161;
}